In [66]:
# Importing the necessary libs
import pandas as pd
import matplotlib as plt
import re

In [67]:
# Importing the swimming dataset
df = pd.read_csv("Olympic_Swimming_Results_1912to2020.csv")

In [68]:
# Viewing the dataset
df.head(5)

,Location,Year,Distance (in meters),Stroke,Relay?,Gender,Team,Athlete,Results,Rank
0,Tokyo,2020,100m,Backstroke,0,Men,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Backstroke,0,Men,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Backstroke,0,Men,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Backstroke,0,Men,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Backstroke,0,Men,CHN,Jiayu Xu,52.51,4

In [69]:
# Getting basic info of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4359 entries, 0 to 4358
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Location              4359 non-null   object
 1   Year                  4359 non-null   int64
 2   Distance (in meters)  4359 non-null   object
 3   Stroke                4359 non-null   object
 4   Relay?                4359 non-null   int64
 5   Gender                4359 non-null   object
 6   Team                  4359 non-null   object
 7   Athlete               4345 non-null   object
 8   Results               4331 non-null   object
 9   Rank                  4359 non-null   int64
dtypes: int64(3), object(7)
memory usage: 340.7+ KB

In [70]:
# Removing null values
df = df.dropna()

In [71]:
# Changing the type of column values
df['Distance (in meters)'] = df['Distance (in meters)'].apply(lambda x: re.sub('\D', '', x))
df['Distance (in meters)'] = df['Distance (in meters)'].astype(int)